.hidden
{
  display: none;
}

body
{
  background-color: #efefef;
}

input
{
  border-radius: .5em;
}

p
{
  font-size: 1em;
}

.all
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adminLogin
{
  background: url('../img/admin/login-wallpaper.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}

.bold
{
  font-weight: 700;
}

.centerText
{
  text-align: center;
}

#container
{
  background-color: #fff;
}

.formContainer
{
  background-color: #000;
  border-radius: 2em;
  opacity: .9;
  width: 35%;
  margin-left: 32.5%;
  margin-top: 125px;
}

.whiteText
{
  color: white;
}

@media screen and (max-width: 64em)
{
  .formContainer
  {
    border-radius: 1.5em;
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 40em)
{
  .formContainer
  {
    border-radius: 1em;
    width: 90%;
    margin-left: 5%;
    margin-top: 75px;
  }
}