.cdiv{
  padding: 25px;
}

.cdiv2{
  padding: 25px;
}

.cdiv3{
  padding: 25px;
}

.cdiv p{
  font-size: 1.2em;
  line-height: 30px;
  color: #cf2035;
}


.cdiv2 p{
  font-size: 1.2em;
  line-height: 30px;
  color: #9b9a2e;
}

.cdiv3 p{
  font-size: 1.2em;
  line-height: 30px;
  color: #166ab9;
}

.job_border{
  padding-bottom: 20px;
  border-bottom: 1px solid #cf2035;
}

.job_border2{
  padding-bottom: 20px;
  border-bottom: 1px solid #9b9a2e;
  margin-bottom: 22px;
}

.job_border3{
  padding-bottom: 20px;
  border-bottom: 1px solid #166ab9;
  margin-bottom: 57px;
}

.button_jobs {
  cursor: pointer;
  width: 100%;
  background-color: #003846;
  height: 50px;
  font-size: 1.2em;
  line-height: 0;
  color: #ffffff }

.eventDiv{
  padding: 25px;
}
  .eventDiv h1{
    color: #166ab9;
    font-size: 1.4em;
    margin-top: 10px;
  }

  #title_event1{
    margin-bottom: 32px;
  }


#title_event3{
  margin-bottom: 58px;
}
