.button_jobs {
  cursor: pointer;
  width: 100%;
  background-color: #003846;
  height: 50px;
  font-size: 1.2em;
  line-height: 0;
  color: #ffffff }

.companyDiv
{
  padding: 1em;
}

.eventDiv{
  padding: 25px;
}
  .eventDiv h1{
    color: #166ab9;
    font-size: 1.4em;
    margin-top: 10px;
  }

  #title_event1{
    margin-bottom: 32px;
  }

#title_event3{
  margin-bottom: 58px;
}
