@charset "UTF-8";
body {
  background-color: #F0F0F0; }

.header {
  position: fixed;
  width: 100%;
  z-index: 100; }
  .header .top-bar {
    background-color: #E2E2E2;
    padding: 0;
    height: 50px; }
    .header .top-bar ul {
      background-color: #E2E2E2; }
      .header .top-bar ul li {
        margin-right: 0.7em; }
        .header .top-bar ul li a {
          display: block;
          width: auto;
          color: #005454;
          padding: 0.24em 1em;
          text-transform: uppercase;
          position: relative;
          display: block;
          height: 50px;
          line-height: 60px; }
        .header .top-bar ul li a:hover {
          transition: .5s;
          border-bottom: 5px solid #005454; }
  .header .menu__logo {
    max-width: 120px; }
    .header .menu__logo--small {
      margin-right: auto;
      max-width: 90px;
      position: absolute;
      left: 0; }

@media screen and (max-width: 39.9375em) {
  .title-bar {
    background-color: #E2E2E2;
    justity-content: space-between; }

  .menu__logo {
    display: none; }

  .header .top-bar {
    padding: 0;
    height: auto; }
    .header .top-bar ul {
      background-color: rgba(212, 221, 189, 0.9);
      position: fixed; }
      .header .top-bar ul li {
        margin-right: 0;
        width: 100%;
        text-align: center;
        display: block; }
        .header .top-bar ul li a {
          display: block;
          color: #DD604D;
          padding: 1em;
          border: none;
          font-size: 1.2em;
          font-weight: bold; }
          .header .top-bar ul li a:hover {
            color: #cf3e28; }
  .header .menu__logo {
    max-width: 120px; }
    .header .menu__logo--small {
      margin-right: auto;
      max-width: 90px; }
  .header .menu-icon {
    margin-left: auto; } }
.hero {
  height: 33vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.heading {
  z-index: 5;
  margin: 0 auto;
  position: absolute;
  margin-top: 36vh;
  width: 50%;
  text-align: center;
  color: white;
  background-color: #005454; }

.hero--signin {
  background-image: url("../img/banner_signin.jpg"); }

.container {
  max-width: 90%;
  margin: auto; }

body.home {
  height: 33vw;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

body.testimonialsb {
  height: 33vw;
  width: 100%;
  background-image: url("../img/banner_testimonials.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

body.contactb {
  height: 33vw;
  width: 100%;
  background-image: url("../img/banner_contact.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

body.signinb {
  height: 33vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed; }

.data {
  background-color: #3C7B77;
  justify-content: center;
  padding: 1em 3em; }
  .data__item {
    color: #fff;
    text-align: center; }
    .data__item h3┬á {
      margin-bottom: 0; }
    .data__item span {
      font-weight: 300; }

.description {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0; }
  .description .paragraph {
    color: #3A5D68;
    font-weight: bold;
    padding: 2.5em;
    font-size: 1.4em;
    border: 3px solid #DC8F61;
    line-height: 1.5em;
    width: 50%;
    height: 80%;
    margin-left: -1em;
    margin-top: 1em; }
  .description .paragraph__alt {
    color: #3A5D68;
    font-weight: bold;
    padding: 2em;
    padding-top: 1.5em;
    font-size: 1.4em;
    line-height: 1.5em;
    height: 80%;
    margin-left: -1em;
    margin-top: 1em; }

@media screen and (max-width: 39.9375em) {
  .description .paragraph {
    width: 90%;
    margin: 0 auto;
    margin-top: -1em; } }
.contact-con {
  background-color: #E2E2E2;
  max-width: 100%;
  padding-bottom: 1%; }
  .contact-con .cont {
    width: 90%;
    margin: 0 auto;
    padding-top: 1%; }

.posts {
  background-color: #E2E2E2; }
  .posts .container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0; }
  .posts__item {
    width: 150px;
    height: 150px;
    border: 2px solid #57B0A3;
    margin-bottom: 1em;
    overflow: hidden; }

@media screen and (max-width: 39.9375em) {
  .posts .container {
    flex-wrap: wrap; }
  .posts__item {
    width: 45%; } }
.testimonials__item {
  display: flex;
  background-color: #152E3A; }
  .testimonials__item--two {
    background-color: #255E5F; }
  .testimonials__item--three {
    background-color: #11434C; }
  .testimonials__item--five {
    background-color: #265D5F; }
  .testimonials__item--six {
    background-color: #65858B; }
.testimonials__image {
  width: 50%; }
.testimonials__info__container {
  width: 50%;
  padding: 2em; }
.testimonials__info {
  color: #fff;
  padding: 1em;
  border-top: 1px solid #d48d50;
  border-right: 1px solid #d48d50;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .testimonials__info--left {
    border: none;
    border-bottom: 1px solid #d48d50;
    border-left: 1px solid #d48d50;
    text-align: right; }
.testimonials__person {
  font-size: 1.3em;
  line-height: 1em;
  width: 100%; }
  .testimonials__person h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0; }
.testimonials__description {
  font-size: 1.1em; }

@media screen and (max-width: 39.9375em) {
  .testimonials__item {
    display: flex;
    flex-direction: column; }
  .testimonials__image {
    width: 100%; }
  .testimonials__info__container {
    width: 100%; } }
video {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.hero--woods__item {
  display: flex;
  background-color: #152E3A; }
  .hero--woods__item--two {
    background-color: #255E5F; }
  .hero--woods__item--three {
    background-color: #11434C; }
  .hero--woods__item--five {
    background-color: #265D5F; }
  .hero--woods__item--six {
    background-color: #65858B; }
.hero--woods__image {
  width: 50%; }
.hero--woods__info__container {
  width: 50%;
  padding: 2em; }
.hero--woods__info {
  color: #fff;
  padding: 1em;
  border-top: 1px solid #d48d50;
  border-right: 1px solid #d48d50;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .hero--woods__info--left {
    border: none;
    border-bottom: 1px solid #d48d50;
    border-left: 1px solid #d48d50;
    text-align: right; }
.hero--woods__person {
  font-size: 1.3em;
  line-height: 1em;
  width: 100%; }
  .hero--woods__person h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0; }
.hero--woods__description {
  font-size: 1.1em; }

@media screen and (max-width: 39.9375em) {
  .testimonials__item {
    display: flex;
    flex-direction: column; }
  .testimonials__image {
    width: 100%; }
  .testimonials__info__container {
    width: 100%; } }
video {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

#hero--woods {
  background-image: url("../img/banner_woods.jpg"); }

.container__company {
  background-color: #edf3f0; }

.hero--events {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }
  .hero--events__item {
    display: flex;
    background-color: #152E3A; }
    .hero--events__item--two {
      background-color: #255E5F; }
    .hero--events__item--three {
      background-color: #11434C; }
    .hero--events__item--five {
      background-color: #265D5F; }
    .hero--events__item--six {
      background-color: #65858B; }
  .hero--events__image {
    width: 50%; }
  .hero--events__info__container {
    width: 50%;
    padding: 2em; }
  .hero--events__info {
    color: #fff;
    padding: 1em;
    border-top: 1px solid #d48d50;
    border-right: 1px solid #d48d50;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .hero--events__info--left {
      border: none;
      border-bottom: 1px solid #d48d50;
      border-left: 1px solid #d48d50;
      text-align: right; }
  .hero--events__person {
    font-size: 1.3em;
    line-height: 1em;
    width: 100%; }
    .hero--events__person h3 {
      font-size: 1em;
      font-weight: bold;
      margin: 0; }
  .hero--events__description {
    font-size: 1.1em; }

@media screen and (max-width: 39.9375em) {
  .testimonials__item {
    display: flex;
    flex-direction: column; }
  .testimonials__image {
    width: 100%; }
  .testimonials__info__container {
    width: 100%; } }
video {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

#hero--events {
  background-image: url("img/banner_events.png"); }

.container__company {
  background-color: #edf3f0; }

.form__message {
  color: #005454;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center; }
  .form__message span, .form__message a {
    color: #7FB3A5; }
  .form__message--small {
    font-size: 1.3em;
    color: #005454;
    margin-bottom: 0;
    margin-top: 2em; }
.form input, .form textarea {
  height: 7.8vh;
  border: 4px solid #003846;
  background-color: transparent; }
  .form input:focus, .form textarea:focus {
    border: 4px solid #003846;
    background-color: transparent; }
.form textarea {
  height: calc(100% - 80px); }
.form .button {
  width: 100%;
  background-color: #003846;
  height: 50px;
  font-size: 1.4em;
  line-height: 0; }
.form .button-inline {
  background-color: #003846;
  border: 4px solid #003846; }

.form-simple input, .form-simple textarea {
  background-color: transparent; }

input::placeholder {
  color: #005454;
  opacity: 1; }

input::-moz-placeholder {
  color: #005454;
  opacity: 1; }

textarea::placeholder {
  color: #005454;
  opacity: 1; }

textarea::-moz-placeholder {
  color: #005454;
  opacity: 1; }

.send {
  width: auto;
  height: 6.5vh;
  filter: invert(200%); }

.footer {
  background-color: #E2E2E2;
  padding: 1em;
  width: 100%; }
  .footer .container-footer {
    border-top: 4px solid #005454;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 0.5em; }
    .footer ul li {
      margin-right: 1em; }
      .footer ul li a {
        color: #666666;
        border-right: 1px solid;
        padding-right: 1em; }
  .footer .ledc {
    border-right: 0px solid; }

#divider {
  background-color: #edf3f0;
  text-align: center;
  font-size: 2em;
  color: #125354;
  padding: 10px;
  padding-bottom: 20px; }

.button_jobs {
  width: 100%;
  background-color: #003846;
  height: 50px;
  font-size: 1.2em;
  line-height: 0;
  color: #ffffff; }

.companyborder {
  border-left: 2px solid #83a594;
  border-right: 2px solid #83a594; }

.eventDiv {
  padding: 25px; }
  .eventDiv h1 {
    color: #166ab9;
    font-size: 1.4em; }

h1 {
  margin-bottom: 0rem; }

.testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #152E3A; }

.testimonials__item--two {
  background-color: #255E5F; }

.testimonials__item--three {
  background-color: #11434C; }

.testimonials__item--five {
  background-color: #265D5F; }

.testimonials__item--six {
  background-color: #65858B; }

.testimonials__image {
  width: 50%; }

.testimonials__info__container {
  width: 50%;
  padding: 2em; }

.testimonials__info {
  color: #fff;
  padding: 1em;
  border-top: 1px solid #D4DDBD;
  border-right: 1px solid #D4DDBD;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.testimonials__info--left {
  border: none;
  border-bottom: 1px solid #D4DDBD;
  border-left: 1px solid #D4DDBD;
  text-align: right; }

.testimonials__person {
  font-size: 1.3em;
  line-height: 1em;
  width: 100%; }

.testimonials__person h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0; }

.testimonials__description {
  font-size: 1.1em; }

.footer {
  background-color: #E2E2E2;
  padding: 1em;
  width: 100%; }

.footer .container-footer {
  border-top: 4px solid #005454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 0.5em; }

.footer ul li {
  margin-right: 1em; }

.footer ul li a {
  color: #666666;
  border-right: 1px solid;
  padding-right: 1em; }

@media screen and (max-width: 39.9375em) {
  .footer--onlymobile {
    display: none; } }
@media screen and (max-width: 39.9375em) {
  .testimonials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .testimonials__image {
    width: 100%; }

  .testimonials__info__container {
    width: 100%; } }
#hero--woods {
  background-image: url("../img/banner_woods.jpg"); }

/*# sourceMappingURL=main.css.map */
