.container__company {
	&__description {
		color:$orange;
		font-size: 1.2em;
		@media screen and (max-width: 39.9375em) {
			font-size: 0.9em;
		}
	}
}

.company__tags {
	@media screen and (max-width: 39.9375em) {
		text-align:center;
	}
}