.container {
	max-width: 90%;
	margin: auto;
}

body.home{
	height: 33vw;
	width: 100%;
	background-image:url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	// position: fixed;
	background-attachment: fixed;
}

body.testimonialsb{
	height: 33vw;
	width: 100%;
	background-image:url('../img/banner_testimonials.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	// position: fixed;
	background-attachment: fixed;
}

body.contactb{
	height: 33vw;
	width: 100%;
	background-image:url('../img/banner_contact.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	// position: fixed;
	background-attachment: fixed;

}

body.signinb{
	height: 33vw;
	width: 100%;
	// background-image:url('../img/banner_signin.jpg');
	background-repeat: no-repeat;
	background-size: 100vw;
	// position: fixed;
	background-attachment: fixed;

}

.data {
	background-color: $teal;
	justify-content: center;
	padding: 1em 3em;
	&__item {
		color: #fff;
		text-align: center;
		h3 {
			margin-bottom:0;
		}
		span{
			font-weight: 300;
		}
	}
}

.description {
	background-image:url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4em 0;

	.paragraph {
		color: $primary-dark;
		font-weight: bold;
		padding: 2.5em;
		// padding-top: 1.5em;
		font-size: 1.4em;
		border: 3px solid $orange-dark;
		line-height: 1.5em;;
		width: 50%;
		height:80%;
		margin-left: -1em;
		margin-top: 1em;
	}

	.paragraph__alt {
		color: $primary-dark;
		font-weight: bold;
		padding: 2em;
		padding-top: 1.5em;
		font-size: 1.4em;
		line-height: 1.5em;;
		height:80%;
		margin-left: -1em;
		margin-top: 1em;
	}
}


@media screen and (max-width: 39.9375em) {

	.description {
		.paragraph {
			width: 90%;
			margin: 0 auto;
			margin-top:-1em;
		}

	}
}

.contact-con{
	background-color: $gray;
	max-width: 100%;
	padding-bottom: 1%;

	.cont{
		width: 90%;
		margin: 0 auto;
		padding-top: 1%;
	}
}
