
.footer {
	background-color: $gray;
	padding: 1em;
	width: 100%;
	.container-footer {
		border-top: 4px solid $primary;
		display:flex;
		align-items: center;
		justify-content:space-between;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding-top:0.5em;
		li {
			margin-right: 1em;
			a {
				color: $dark;
				border-right: 1px solid;
				padding-right: 1em;

			}

		}
		}
		.ledc{
border-right: 0px solid;
	}
}
