.form {
	&__message {
		color: $primary;
		margin-bottom: 1em;
		margin-top: 1em;
		text-align: center;
		span, a{
			color: #7FB3A5;
		}

		&--small {
			font-size: 1.3em;
			color: $primary;
			margin-bottom:0;
			margin-top:2em;
		}

	}

	input, textarea {
		height:7.8vh;
		border: 4px solid $seconady;
		// padding: 1.2em;
		background-color: transparent;
		&:focus {
			border: 4px solid $seconady;
			// padding: 1.2em;
			background-color: transparent;
		}
	}
	textarea {
		height: calc(100% - 80px);
	}

	.button,  {
		width: 100%;
		background-color: $seconady;
		height: 50px;
		font-size: 1.4em;
		line-height: 0;
	}

	.button-inline {
		background-color: $seconady;
		border: 4px solid $seconady;
	}
}

.form-simple {
	input, textarea {
		background-color:transparent;
	}
}



input::placeholder{
  color: $primary;
opacity: 1;
}

input::-moz-placeholder{
  color: $primary;
	opacity: 1;

}

textarea::placeholder{
  color: $primary;
	opacity: 1;

}

textarea::-moz-placeholder{
  color: $primary;
	opacity: 1;

}


.send{
	width: auto;
	height: 6.5vh;
	filter: invert(200%);
}
