.header{
position: fixed;
width: 100%;
z-index: 100;
	.top-bar {
		background-color: $gray;
		padding: 0;
		height: 50px;
		ul {
			background-color: $gray;
			li {
				margin-right: 0.7em;
				a {
					display:block;
					width: auto;
					color: $primary;
					padding:  0.24em 1em ;
					text-transform: uppercase;
					// border-bottom: 2px solid $gray;
					position: relative;
 				display: block;
 				height: 50px;
 				line-height: 60px;
				}
				a:hover{
					transition: .5s;
					border-bottom: 5px solid $primary;


				}
			}
		}
	}

	.menu__logo {
		max-width: 120px;
		&--small {
			margin-right: auto;
			max-width: 90px;
			position: absolute;
			left: 0;
		}
	}

	.menu-icon {
		//margin-left: auto;
	}
}

@media screen and (max-width: 39.9375em) {


	.title-bar {
		background-color:$gray;
		justity-content: space-between;
	}
	.menu__logo {
		display:none;
	}
	.header{
		.top-bar {
			padding: 0;
			height: auto;
			ul {
				background-color: rgba($yellow, 0.9);
				position:fixed;
				li {
					margin-right: 0;
					width: 100%;
					text-align:center;
					display:block;
					a {
						display:block;
						color:$orange;
						padding:  1em;
						border:none;
						font-size: 1.2em;
						font-weight: bold;
						&:hover {
							color:darken($orange, 10%);
						}

					}
				}
			}
		}

		.menu__logo {
			max-width: 120px;
			&--small {
				margin-right: auto;
				max-width: 90px;
			}
		}

		.menu-icon {
			margin-left: auto;
		}
	}
}
