.hero {
	height: 33vw;
	width: 100%;
	// background-image:url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	// position: fixed;
	background-attachment: fixed;
	// background-attachment: fixed;

	// &--testimonials {
	// 	height: 33vw;
	// 	width: 100%;
	// 	background-repeat: no-repeat;
	// 	background-size: 100%;
	// 	// position: fixed;
	// 	background-attachment: fixed;
  //
	// 	background-image:url('../img/banner_testimonials.jpg');
	// }
  //
	// &--contact {
	// 	background-image:url('../img/banner_contact.jpg');
	// 	background-size: cover;
	// }
  //
	// &--login {
	// 	background-image:url('../img/background.jpg');
	// }

}

.heading
{
	// display: block;
	z-index: 5;
	margin: 0 auto;
	position: absolute;
	margin-top: 36vh;
	width: 50%;
	text-align: center;
	color: white;
	background-color: $primary
}

.hero--signin{
	background-image:url('../img/banner_signin.jpg');
}
