.posts {
	background-color: $gray;
	.container{
		display:flex;
		justify-content: space-between;
		padding: 1em 0;
	}

	&__item {
		width: 150px;
		height: 150px;
		border: 2px solid #57B0A3;
		margin-bottom: 1em;
		// img{
			overflow: hidden;
		// }
	}
}

@media screen and (max-width: 39.9375em) {
	.posts {
		.container{
			flex-wrap: wrap;
		}
		&__item {
			width: 45%;
		}
	}
}
