.hero--woods {
	// background-color: #152E3A;
	// margin-top: 10%;
	&__item {
		display:flex;
		background-color:#152E3A;

		&--two {
			background-color:#255E5F;
		}

		&--three {
			background-color:#11434C;
		}

		&--five {
			background-color: #265D5F;
		}

		&--six {
			background-color: #65858B;
		}

	}

	&__image {
		width: 50%;
	}

	&__info__container {

		width: 50%;
		padding: 2em;
	}
	&__info {
		color: #fff;
		padding: 1em;
		border-top: 1px solid #d48d50;
		border-right: 1px solid #d48d50;
		height: 100%;
		display:flex;
		flex-wrap: wrap;
		align-items:center;
		&--left {
			border: none;
			border-bottom: 1px solid #d48d50;
			border-left: 1px solid #d48d50;
			text-align:right;
		}
	}

	&__person{
		font-size: 1.3em;
		line-height: 1em;
		width: 100%;
		h3 {
			font-size: 1em;
			font-weight: bold;
			margin:0;
		}
	}

	&__description {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 39.9375em) {
	.testimonials {
		&__item {
			display:flex;
			flex-direction: column;
		}
		&__image {
			width: 100%;
		}

		&__info__container {
			width: 100%;
		}
	}
}

video{
	display: inline-block;
vertical-align: middle;
max-width: 100%;
height: auto;
}

#hero--woods{
  background-image:url('../img/banner_woods.jpg');
}

.container__company{
	background-color: #edf3f0;
}
