@import '_variables';

@import '_base';
@import '_header';
@import '_hero';
@import '_data';
@import '_post';
@import '_testimonials';
@import "_woods";
@import "_events";
@import '_form';
@import '_footer';

// #hero--woods{
//   background-image:url('../img/banner_woods.jpg');
// }

#divider{
  background-color: #edf3f0;
  text-align: center;
  font-size: 2em;
  color: #125354;
  padding: 10px;
  padding-bottom: 20px;

}

.button_jobs {
  width: 100%;
  background-color: #003846;
  height: 50px;
  font-size: 1.2em;
  line-height: 0;
  color: #ffffff }

  .companyborder{
    border-left: 2px solid #83a594;
    border-right: 2px solid #83a594;
  }

  .eventDiv{
    padding: 25px;
    h1{
      color: #166ab9;
      font-size: 1.4em;
      // margin-top: 10px;
    }
  }

  h1{
    margin-bottom: 0rem;
  }

  .testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #152E3A; }
  .testimonials__item--two {
    background-color: #255E5F; }
  .testimonials__item--three {
    background-color: #11434C; }
  .testimonials__item--five {
    background-color: #265D5F; }
  .testimonials__item--six {
    background-color: #65858B; }

.testimonials__image {
  width: 50%; }

.testimonials__info__container {
  width: 50%;
  padding: 2em; }

.testimonials__info {
  color: #fff;
  padding: 1em;
  border-top: 1px solid #D4DDBD;
  border-right: 1px solid #D4DDBD;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .testimonials__info--left {
    border: none;
    border-bottom: 1px solid #D4DDBD;
    border-left: 1px solid #D4DDBD;
    text-align: right; }

.testimonials__person {
  font-size: 1.3em;
  line-height: 1em;
  width: 100%; }
  .testimonials__person h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0; }

.testimonials__description {
  font-size: 1.1em; }

  .footer {
    background-color: #E2E2E2;
    padding: 1em;
    width: 100%; }
    .footer .container-footer {
      border-top: 4px solid #005454;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .footer ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      padding-top: 0.5em; }
      .footer ul li {
        margin-right: 1em; }
        .footer ul li a {
          color: #666666;
          border-right: 1px solid;
          padding-right: 1em; }
    @media screen and (max-width: 39.9375em) {
      .footer--onlymobile {
        display: none; } }

        @media screen and (max-width: 39.9375em) {
          .testimonials__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
          .testimonials__image {
            width: 100%; }
          .testimonials__info__container {
            width: 100%; } }

#hero--woods{
background-image:url('../img/banner_woods.jpg');
}
